.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;  
  flex-direction: column;
  margin-bottom: 0;
}
.heading h1{
  font-size: 4vw;
}
.heading p{
  font-size: 1vw;
  margin: 0;
}
.uff{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  margin-right: 60px;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  flex-direction: column;
}
.hero .main input{
  height: 2.5em;
  width: 30em;
  border-radius: 20px;
  font-size: 1.5vw;
  border: 0.02px solid rgba(0, 0, 255, 0.286);
}
.hero .main button{
  margin-left: 1vw;
  height: 2.7vw;
  width: 7em;
  font-weight: bolder;
  font-size: large;
  background-color: blue;
  border: white;
  border-radius: 20px;
  color: beige;

}
.hero .field {
  margin-top: 4vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero .field label{
  font-size: x-large;
}
.hero .field input{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.hero .addons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .addons label{
  margin-left: 80px;
  font-size: xx-large;
  margin-top: 40px;
}
.hero .addons input{
height: 40px;
width: 40px;
margin-top: 50px;
}
.hero .setting{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body{
  color: rgba(46, 45, 45, 0.892);
}
.ques{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  height: 100vh;
}
.ques .head{
  margin-bottom: 400px;
  width: 100%;
}
.ques .head h1{
  width: 100%;
  position: relative;
  left: 25%;
}
img{
  height: 300px;
  width: 300px;
}
.op p{
  margin-left: 50px;
}
.op{
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width:600px) {
  .heading h1{
    font-size: 30px;
  }
  .heading p{
    font-size: 10px;
  }
  .hero .main{
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .hero .main input{
    margin-bottom: 20px;
    height: 30px;
    width: 90%;
    font-size: xx-large;
  }
  .hero .main button{
    width: 97%;
    height: 30px;
  }
  .hero .setting{
    display: flex;
    flex-direction: column;
  }
  .hero .setting .addons{
    margin-left: -80px;
  }
  .op {
    margin-left: 90px;
    position: relative;
  }
  .op img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
  }
}